html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}

body {
    font-family: 'Lora', 'Palatino', Georgia, serif;
    background: #baf9ff; /* keep */
    color: #333;

}
h1, h2 {
    font-family: 'Work Sans', 'Trebuchet MS', Tahoma, sans-serif;
    padding-top: 3rem;
    text-align: center;
    font-size:
}

p{
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;

}



#miami {
  width: 800px;
  height: 500px;
  border: 1px solid #ccc;
  display: block;
  margin: auto;

 }

 #films {
   width: 100%;
   height: 600px;
   border: 1px solid #ccc;
   display: block;
   margin: auto;

  }

 @media screen and (max-width: 500px) {

   #miami {
     width: 100%;
     height: 600px;
     border: 1px solid #ccc;
     display: block;
     margin-left: auto;
     margin-right: auto;

 }

 #film {
   width: 100%;
   height: 600px;
   border: 1px solid #ccc;
   display: block;
   margin: auto;

  }
